<form action= "/course/add" method = "POST">
<p>
    <label>CourseName</label><input value = "" name="coursename">
    <label>courseDuration</label><input value = "" name="courseDuration">
    <label>courseFee</label><input value = "" name="courseFee">
    <button type ="button">Submit</button> 
</p>

</form>