<h5>Course</h5>
<table>
    <tr>
    <th>Id</th>
    <th>Name</th>
    </tr>
    {{#each data}}
    <tr>
        <th>{{this.coursename}}</th>
        <th>{{this.courseId}}</th>

    </tr>
{{/each}}
</table>